body{
	text-align: center;
	}
html{
	background-image: url("mattegreen.jpg") no-repeat center center fixed;
	height: auto;
	background-size: cover;
	overflow: hidden;
}
hr {
	width: 300px;
}
p{
	font-size:	20px;
	font-family: 'Oswald', sans-serif; 
}
h1{
	font-family: 'Fjalla One', sans-serif;
	font-size: 60px;
	color: #18481A;
}
